/*selecting all elements and applying*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*selecting body element and appling attr*/
body {
    background-color: #d9dcd6;
}
/*selecting header class and applying attr*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*selecting h1 tag in header class and appplying attr*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*selecting seo class in h1 tag in header class and applying attr*/
.header h1 .seo {
    color: #d9dcd6;
}
/*selecting div in header class and applying attr*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*selecting li in ul in div in header class and applying attr*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*selecting anchors and applying attr*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*selecting hero class and applying attr*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*selecting float-left class and applying attr*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*selecting float-right class and applying attr*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*selecting content class and applying attr*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*selecting benefits class and applying attr*/
.benefits {
    margin-right: 20px; 
    padding: 20px; 
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color:#ffffff ;
}
/*selecting h3 tag in benefit class and applying attr*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*selecting img elements in benefits class and applying attr*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*selecting card class and applying attr*/
.card{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*selecting img elements in content class and applying attr*/
.content img {
    max-height: 200px;
}
/*selecting h2 tags in content class and applying attr*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;    
}
/*selecting footer class and applying attr*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*selecting h2 tags in footer class and applying attr*/
.footer h2 {
    font-size: 20px;
}